<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Code Complexity Visualiser</title>

  <!-- Chart js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <link rel="stylesheet" href="../static/css/landing-page.min.css">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

  <!-- Navigation -->
<nav>
    <div>
        <table style="width: 100%;">
            <tr>
                <td style="text-align: left;">
                    <a href="https://www.swinburne.edu.au/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfp0MLt46S9-uMqBcLpGcCR6BlLcGmTD_saiVCiSsTMAPB8tEM&usqp=CAU"></a>
                </td>
                <td style="text-align: right;">
                    <a class="navbar-brand" href="#">ICT90004, Applied Research Project, Semester 1 2020</a>
                    <br>
                    <a class="btn btn-primary" href="#">Project Team</a>
                </td>
            </tr>
        </table>
    </div>
</nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center" style="background-color: #7FB3D5;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Model Prediction</h1>
        </div>
        <div class="col-xl-9 mx-auto">
          <h4 class="mb-5">Analysing JavaScript codes, and generating a visual analytics report</h4>
        </div>
        <div>
            
        </div>
      </div>
    </div>
  </header>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>